/* Contenedor de los botones de administrar */
.manageButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f396a;
    width: 100%;
}
/* Botones de filtros */
.dateButton, .editFileNameButton{
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
}
.dateButton{
    margin-left: 10px;
}
/* Contenedor para el enlace de descarga */
.downloadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
/* Link de nombre de archivo */
.fileName{
    color: blue;
    text-decoration: underline;
}
/* Contenedor del boton de volver */
.buttonContainer{
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: left;
}
.buttonContainerOnImage{
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10%;
    margin-top: 30px;
}
/* Boton de volver */
.backButton{
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
}
.backButton:hover{
    background-color: #005ec2;
}
/* Tabla para el contenido del archivo */
.fileTable{
    padding-bottom: 150px;
    margin: 5% auto;
}
/* Colores de la tabla intercalados */
.fileTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.fileTable tbody tr:nth-child(odd) {
    background-color: #bdbdbd;
}
/* Contenido de las tablas del archivo excel */
.item, .firstItem, .secondItem{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    font-size: 10px;
}
.firstItem{
    background-color: #1f396a;
    color: #ffffff;
}
.secondItem{
    background-color: #bdbdbd;
}
/* Botón de ver mas (sin uso) */
/* .moreButton{
    width: 100px;
    margin: 30px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
}
.moreButton:hover{
    background-color: #005ec2;
} */
/* Contenedor del filtro */
.searchContainer{
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #1f396a;
}
/* Input para el filtro */
.searchInput{
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
.searchInput:hover{
    background-color: #ffffffa9;
}
/* Boton de buscar en el filtro */
.searchButton{
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.searchButton:hover{
    background-color: #005ec2;
}
/* Boton para limpiar el filtro */
.cleanButton{
    width: 150px;
    margin: 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 5px;
}
.cleanButton:hover{
    background-color: #005ec2;
}
/* Contenedor de los botones de confirmar y borrar */
.editButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
/* Boton para confirmar los cambios */
.confirmChangesButton{
    width: 50px;
    bottom: 70%;
    right: 65%;
    margin: 5px;
}
/* Boton para borrar los cambios */
.deleteButton{
    width: 50px;
    bottom: 70%;
    right: 60%;
    margin: 10px;
}
/* Texto de recordatorio */
.editInfo{
    color: red;
}
.finalSpace{
    width: 100%;
    height: 200px;
}
/* Botones de paginacion (flechas) */
.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color: blue;
    margin: 5px;
    text-decoration: none;
}
.pagination .arrow{
    margin: 0 10px;
}
.pagination a.active{
    font-weight: bold;
}
/* Contenedor de los botones de paginacion (select )*/
.selectPages{
    padding-bottom: 20px;
}
.selectPages select{
    margin-left: 10px;
    cursor: pointer;
    width: 50px;
}
/* .editFileNameForm, .filterDataForm{
    margin-left: 50px;
} */
.spaceBetween{
    width: 0;
    height: 30px;
    margin-right: 40px;
    margin-left: 20px;

    border: 1px solid #f5f5f5;
}
/* .pagination a:hover{
    text-decoration: underline;
} */
/* Imagen subida por usuario */
.viewImage{
    margin-top: 100px;
    width: 50%;
}
/* Contenedor para reemplazar texto */
.replaceContainer{
    background-color: #1f396a;
    padding: 20px;
    border-radius: 20px;


}