.supportContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginContainer, .signupContainer, .uploadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
    background-color: #1f396a;
}
.uploadContainer{
    width: 600px;
}
.imageInput{
    width: 500px;
    height: 50px;
    background-color: #ffffff;
}
input{
    border-radius: 5px;
    padding: 2px;
    height: 35px;
}
input:hover{
    background-color: #ffffffa9;
}
.submitButton{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
}
.submitButton:hover{
    background-color: #005ec2;
}
.deleteButton{
    margin-top: 10px;
    margin-left: 340px;
    border-radius: 5px;
    background-color: red;
    color: #ffffff;
    padding: 15px;
}
.deleteButton:hover{
    background-color: #b30000;
}
.formLinks{
    margin-top: 30px;
    color: #ffffff;
    text-decoration: underline;
}
.formLinks:hover{
    color: #ffffffa9;
}
.tittle{
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}
.imageTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.imageTemplate p{
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}
.fileNameInput{
    width: 500px;
}
.userSelect{
    padding-left: 5px;
    font-size: 20px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}
.userSelect:hover{
    background-color: #ffffffa9;
}