/* Contenedor de soporte */
.supportContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Contenedores de login, registro y subida de archivos */
.loginContainer, .signupContainer, .uploadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
    background-color: #1f396a;
}
/* Contenedor de subida de archivos */
.uploadContainer{
    width: auto;
    /* width: 100%;
    max-width: 600px; */
}
/* Titulos de formularios */
.tittle{
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}
/* Input para subir archivos */
.fileInput{
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: #ffffff;
}
/* Inputs de formularios */
input{
    border-radius: 5px;
    padding: 2px;
    height: 35px;
    width: 100%;
    max-width: 500px;
}
input:hover{
    background-color: #ffffffa9;
}
/* Botones de formularios */
.submitButton, .deleteButton{
    margin-top: 10px;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.submitButton{
    background-color: #007bff;
}
.deleteButton{
    background-color: #dc3545;
}
.submitButton:hover{
    background-color: #005ec2;
}
.deleteButton:hover{
    background-color: #c82333;
}
/* Boton de borrar un usuario */
.deleteButton{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
/* Links para registro y login */
.formLinks{
    margin-top: 30px;
    color: #ffffff;
    text-decoration: underline;
}
.formLinks:hover{
    color: #ffffffa9;
}
/* Imagen de instrucciones de subida */
.imageTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.imageTemplate p{
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}
/* Inputs de nombre subida de archivos */
.fileNameInput{
    width: 100%;
    max-width: 500px;
}
/* Select para compartir a usuarios */
.userSelect{
    padding-left: 5px;
    font-size: 20px;
    width: 100%;
    max-width: 250px;
    height: 35px;
    border-radius: 5px;
}
.userSelect:hover{
    background-color: #ffffffa9;
}

/* Reglas de medios de comunicación para hacer el diseño responsive */
@media only screen and (max-width: 768px) {
    .uploadContainer {
        width: 90%;
        max-width: none;
    }
    .fileInput, .fileNameInput, .userSelect {
        max-width: none;
    }
    .submitButton, .deleteButton {
        max-width: none;
    }
}
