/* contenedor que marca el centro de la página (pruebas) */
/* .containerPruebaCentrado{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pruebaCentrado{
    width: 50%;
    height: 50px;
    border: 1px solid black;
} */
/* Aplicable a todas las paginas */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
/* Contenedor de los menus */
.menuContainer{
    width: 100%;
    height: 100px;
    background-color: #1f396a;
}
/* .menu no se utiliza, solo se utiliza .menu2 */
.menu, .menu2 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
    background-color: #1f396a;
    color: #fff;
    width: 100%;
    text-align: center;
}
.menu{
    padding-left: 100px;
    margin-top: 60px;
}
.menu h1 {
    margin: 20px;
}
.menu2{
    padding-left: 80px;
}
.userMenu{
    display: flex;
    flex-direction: column;

    background-color: #1f396a;
    color: #fff;
    padding-right: 100px;
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 30px;
}
.logout{
    font-size: 20px;
}
/* .links contenedor de los links Iniciar sesion y registrarse */
/* .menuLinks contenedor de los links de las paginas */
.links, .menuLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.links {
    margin-right: 190px;
}
.links a , .menuLinks a {
    margin-right: 10px;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
}
.links a:hover, .menuLinks a:hover, .logout:hover, .user:hover {
    text-decoration: underline;
}
/* Contenedor de la imagen de vcs una vez iniciada la sesion */
.imageMenu{
    background-color: #1f396a;
    color: #fff;
    width: 100%;
    text-align: left;
}
/* Imagen */
.vcsLogo{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}

