.tableContainer{
    width: auto;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.tablesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
.tableTitle{
    font-size: 30px;
}
.generalTable{
    border: 1px solid #1f396a;
    width: 100%;
    text-align: center;
    margin: 40px;
}
.fileLink{
    color: blue;
    text-decoration: underline;
}
.deleteLink, .editLink, .shareLink{
    color: red;
    text-decoration: underline;
}
.item{
    border-top: 1px solid black;
    padding: 10px;
}
.firstItem{
    background-color: #1f396a;
    color: #ffffff;
}
.adminText{
    margin-top: 15px;
    font-size: 30px;
}
.searchContainer{
    width: 620px;
    height: 330px;
    padding-left: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #1f396a;
}
.searchInput{
    border-radius: 5px;
    padding: 5px;
    width: 378px;
}
.searchInput:hover{
    background-color: #ffffffa9;
}
.buttonContainer{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    margin-bottom: 10px;
}
.searchButton {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 40px;
}
.searchButton:hover{
    background-color: #005ec2;
}
.cleanButton {
    margin: 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 8px;
    height: 40px;
}
.cleanButton:hover{
    background-color: #005ec2;
}
.dateInput, .searchInput, .dateInputText{
    margin-top: 20px;
}
.dateInputText{
    width: 200px;
    margin-right: 10px;
}
.dateInput{
    width: 240px;
    margin-left: 10px;
}
.dateInput2{
    margin-left: 25px;
}
.dateInputText{
    color: #ffffff;
}
.dateInput:hover{
    background-color: #ffffffa9;
    cursor: pointer;
}
.trashIcon, .editIcon{
    width: 30px;
    height: 30px;
}
.searchUserInput{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 305px;

}
.searchUserInput:hover{
    background-color: #ffffffa9;
}